---
layout: default
---
<br>
<center><img src="https://images.findagrave.com/photos/2020/298/25592159_4ae9495c-b830-47be-85f6-524b401c36cf.jpeg"></a></center>
<br>
<center>This collection of early 20th century postcards is intended to reflect the world as one person saw it: Lieutenant Arthur Theodore Johnson (1896-1918).</center> <br>
<center>Born and raised in northern Indiana, Johnson spent his childhood and adolescence moving between towns that just about grazed the Lake Michigan shoreline.</center>
<br>
<h1 style="padding-top: 50px; padding-right: 50px; padding-bottom: 50px; padding-left: 50px">London</h1>

{% if page.credits == true %}{% include cb/credits.html %}{% endif %}
